/* Variables */
/* Mixins */
aside .element:after, .wrapper .holder .trending:after {
  content: "";
  display: table;
  clear: both; }

/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  display: block;
  height: 100%; }

a,
a:hover,
a:focus {
  text-decoration: none; }

/* Claire Styling */
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6em;
  color: #444444;
  text-align: center;
  background: #fafafa; }

.container {
  margin: 0 auto;
  text-align: left;
  padding: 0 20px; }

a {
  color: #ec13da;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  transition: all 350ms ease; }
  a:hover {
    color: #a50d99; }

h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0.5em; }

h2 {
  color: #ec13da;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px; }

p {
  margin-bottom: 0.5em; }

img {
  margin-bottom: -6px; }

.box {
  background: white;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px; }

/* Chosen Dropdown Styles */
.chosen-container,
.chosen-container-active {
  width: 100% !important;
  height: auto;
  text-align: left; }
  .chosen-container .chosen-single,
  .chosen-container .chosen-single:hover,
  .chosen-container .chosen-single:focus,
  .chosen-container .chosen-single:visited,
  .chosen-container-active .chosen-single,
  .chosen-container-active .chosen-single:hover,
  .chosen-container-active .chosen-single:focus,
  .chosen-container-active .chosen-single:visited {
    width: 100%;
    height: 40px;
    background: whitesmoke !important;
    border: 1px solid #e0e0e0 !important;
    padding: 0;
    margin: 0;
    outline: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 white inset, 0 0 0 transparent;
    font-size: 14px; }
    .chosen-container .chosen-single div,
    .chosen-container .chosen-single:hover div,
    .chosen-container .chosen-single:focus div,
    .chosen-container .chosen-single:visited div,
    .chosen-container-active .chosen-single div,
    .chosen-container-active .chosen-single:hover div,
    .chosen-container-active .chosen-single:focus div,
    .chosen-container-active .chosen-single:visited div {
      display: none; }
    .chosen-container .chosen-single span,
    .chosen-container .chosen-single:hover span,
    .chosen-container .chosen-single:focus span,
    .chosen-container .chosen-single:visited span,
    .chosen-container-active .chosen-single span,
    .chosen-container-active .chosen-single:hover span,
    .chosen-container-active .chosen-single:focus span,
    .chosen-container-active .chosen-single:visited span {
      color: #444444;
      padding: 0 20px 0 20px;
      line-height: 40px;
      margin: 0;
      -webkit-transition: all 350ms ease;
      -moz-transition: all 350ms ease;
      -ms-transition: all 350ms ease;
      transition: all 350ms ease;
      color: #6a6a6a; }
  .chosen-container .chosen-drop,
  .chosen-container-active .chosen-drop {
    background: whitesmoke;
    border: 1px solid #e0e0e0;
    border-top: none;
    padding: 0;
    margin: -3px 0 0 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 5; }
    .chosen-container .chosen-drop .chosen-search,
    .chosen-container-active .chosen-drop .chosen-search {
      padding: 10px 20px; }
      .chosen-container .chosen-drop .chosen-search input,
      .chosen-container-active .chosen-drop .chosen-search input {
        background: #fff;
        border: 1px solid #e0e0e0;
        padding: 6px 20px 7px 20px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px; }
    .chosen-container .chosen-drop .chosen-results,
    .chosen-container-active .chosen-drop .chosen-results {
      padding: 0;
      margin: 0; }
      .chosen-container .chosen-drop .chosen-results li,
      .chosen-container-active .chosen-drop .chosen-results li {
        background: #fff;
        border-top: 1px solid #e0e0e0;
        padding: 11px 20px 13px 20px;
        font-size: 14px;
        color: #848484; }
      .chosen-container .chosen-drop .chosen-results li:hover,
      .chosen-container-active .chosen-drop .chosen-results li:hover {
        color: #ec13da; }
      .chosen-container .chosen-drop .chosen-results li:last-child,
      .chosen-container-active .chosen-drop .chosen-results li:last-child {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0; }
  .chosen-container.chosen-container-active.chosen-with-drop a span, .chosen-container.chosen-container-active a span,
  .chosen-container-active.chosen-container-active.chosen-with-drop a span,
  .chosen-container-active.chosen-container-active a span {
    color: #444444; }

/* Header Styling */
header {
  background: white;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  text-align: left;
  margin: 0 0 40px 0; }
  header .chosen-container {
    width: 40% !important; }
    header .chosen-container .chosen-single,
    header .chosen-container .chosen-single:hover,
    header .chosen-container .chosen-single:focus,
    header .chosen-container .chosen-single:visited {
      height: 30px;
      margin-top: -5px; }
      header .chosen-container .chosen-single span,
      header .chosen-container .chosen-single:hover span,
      header .chosen-container .chosen-single:focus span,
      header .chosen-container .chosen-single:visited span {
        line-height: 30px; }
  header .logo {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
    line-height: 30px;
    color: #2b2b2b; }

/* Main Section Styling */
section .information {
  margin-bottom: 40px; }
  section .information h1 .name {
    font-size: 16px;
    color: #ec13da;
    text-transform: uppercase;
    margin-left: 5px; }
  section .information .trends {
    margin-bottom: 20px;
    line-height: 15px; }
    section .information .trends ul li {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      line-height: 15px;
      color: #848484;
      margin-right: 20px; }
      section .information .trends ul li .graph.trend {
        margin-right: 3px; }
        section .information .trends ul li .graph.trend img {
          height: 11px;
          margin-bottom: 0; }

/* Aside Styling */
aside .element ul {
  border-top: 1px solid #e0e0e0; }
  aside .element ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    padding: 15px 5px;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    color: #aaaaaa;
    font-weight: 600; }
    aside .element ul li:first-child {
      border-left: 0; }
    aside .element ul li span {
      font-size: 24px;
      display: block;
      line-height: 30px;
      font-weight: 500;
      color: #444444; }
    aside .element ul li:after {
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      top: 3px;
      right: 3px;
      border-top: 10px solid #e0e0e0;
      border-left: 10px solid transparent; }
  aside .element ul.stats {
    border-top: 0; }
    aside .element ul.stats li {
      width: -moz-calc(50% - 2px);
      width: -o-calc(50% - 2px);
      width: -webkit-calc(50% - 2px);
      width: calc(50% - 2px); }
  aside .element ul.percentages li {
    width: -moz-calc((100% / 3) - 3px);
    width: -o-calc((100% / 3) - 3px);
    width: -webkit-calc((100% / 3) - 3px);
    width: calc((100% / 3) - 3px); }
    aside .element ul.percentages li.negative:after {
      border-top-color: #e79090; }
    aside .element ul.percentages li.positive:after {
      border-top-color: #bee76f; }

/* Homepage */
.home {
  background: whitesmoke url(../images/bg.gif) no-repeat 0 0;
  background-size: 100% 100%; }

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 50px 40px; }
  .wrapper .holder {
    width: 100%;
    text-align: center; }
    .wrapper .holder h1 {
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 0 20px 0;
      font-weight: 200;
      color: #2b2b2b; }
    .wrapper .holder h2 {
      margin-top: 20px;
      text-align: left; }
    .wrapper .holder h2.subtitle {
      font-size: 16px;
      color: #777777;
      padding: 0 0 10px 0;
      margin-top: 0;
      font-weight: 500;
      text-transform: inherit; }
    .wrapper .holder p {
      text-align: left; }
    .wrapper .holder .selection {
      background: #fff;
      border: 1px solid #e0e0e0;
      padding: 20px;
      margin: 0 0 15px 0;
      text-align: left; }
    .wrapper .holder .trending {
      display: inline-block;
      width: auto;
      margin: 0 auto; }
      .wrapper .holder .trending .trend {
        float: none;
        text-align: left;
        margin: 20px 0;
        height: auto;
        width: 100%; }
        .wrapper .holder .trending .trend h2 {
          margin-top: 0; }
        .wrapper .holder .trending .trend a {
          color: #848484; }
          .wrapper .holder .trending .trend a:hover {
            color: #444444; }

.controls {
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center; }
  .controls button {
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #ec13da;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600; }

/* Media Queries */
@media (min-width: 568px) {
  aside .group {
    float: left;
    width: -moz-calc(50% - 22px);
    width: -o-calc(50% - 22px);
    width: -webkit-calc(50% - 22px);
    width: calc(50% - 22px); }
    aside .group:first-child {
      margin-right: 40px; }

  .wrapper .holder {
    max-width: 600px;
    margin: 0 auto;
    text-align: left; }
    .wrapper .holder .trending {
      width: 100%; }
      .wrapper .holder .trending .trend {
        float: left;
        height: 100%;
        width: -moz-calc(100% / 3);
        width: -o-calc(100% / 3);
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3); } }
@media (min-width: 1025px) {
  .wrapper {
    padding: 0; }
    .wrapper .holder {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 600px; }

  .container {
    max-width: 1200px; }

  section {
    float: left;
    width: -moz-calc(100% - 425px);
    width: -o-calc(100% - 425px);
    width: -webkit-calc(100% - 425px);
    width: calc(100% - 425px); }

  aside {
    float: left;
    width: 385px;
    margin-left: 40px; }
    aside .group {
      float: none;
      width: 100%; }
      aside .group:first-child {
        margin-right: 0; } }
