/* Variables */

$primary:         #ec13da;
$textcolor:       #444444;
$negative:        #e79090;
$positive:        #bee76f;
$neutral:         #e0e0e0;

$bordercolor:     #e0e0e0;
$border-default:  1px solid $bordercolor;
$formcolor:       #f5f5f5;
$background:      #fafafa;

/* Mixins */

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin boxshadow($bshadow) {
  -webkit-box-shadow: $bshadow;
  -moz-box-shadow: $bshadow;
  -ms-box-shadow: $bshadow;
  box-shadow: $bshadow;
}

@mixin borderradius($bradius) {
  -webkit-border-radius: $bradius;
  -moz-border-radius: $bradius;
  -ms-border-radius: $bradius;
  border-radius: $bradius;
}

@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin transform($trans...) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -ms-transform: $trans;
  transform: $trans;
}

@mixin opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
  filter: alpha(opacity=$opacity);
  -webkit-opacity: $opacity/100;
  -moz-opacity: $opacity/100;
  opacity: $opacity/100;
}


@mixin multicolumn($columns,$gap) {
  -webkit-column-count: $columns;
  -moz-column-count: $columns;
  column-count: $columns;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Base Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
  height: 100%;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  display: block;
  height: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}


/* Claire Styling */

body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6em;
  color: $textcolor;
  text-align: center;
  background: $background;
}

.container {
  margin: 0 auto;
  text-align: left;
  padding: 0 20px;
}

a {
  color: $primary;
  @include transition(all 350ms ease);
  
  &:hover {
    color: darken($primary,15%);
  }
}

h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0.5em;
}

h2 {
  color: $primary;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
}

p {
  margin-bottom: 0.5em;
}

img {
  margin-bottom: -6px;
}

.box {
  background: white;
  border: 1px solid $bordercolor;
  margin-bottom: 20px;
  position: relative;
}


/* Chosen Dropdown Styles */

.chosen-container,
.chosen-container-active {
	width: 100% !important;
	height: auto;
	text-align: left;
	
	.chosen-single,
	.chosen-single:hover,
	.chosen-single:focus,
  .chosen-single:visited {
		width: 100%;
		height: 40px;
		background: $formcolor !important;
		border: $border-default !important;
		padding: 0;
		margin: 0;
		outline: none !important;
		@include borderradius(5px);
    box-shadow: 0 0 0 #fff inset, 0 0 0 rgba(0,0,0,0);
    font-size: 14px;
    
    div { display: none; }
  		
		span {
			color: $textcolor;
			padding: 0 20px 0 20px;
			line-height: 40px;
			margin: 0;
      @include transition(all 350ms ease);
      color: lighten($textcolor,15%);
		}
	}
	
	.chosen-drop {
		background: $formcolor;
		border: $border-default;
		border-top: none;
		padding: 0;
		margin: -3px 0 0 0;
		-moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
		@include borderradius(0 0 5px 5px);
		z-index: 5;
		
		.chosen-search {
			padding: 10px 20px;
			
			input {
				background: #fff;
				border: $border-default;
				padding: 6px 20px 7px 20px;
				background: white none !important;
  			@include borderradius(50px);
			}
		}
		.chosen-results {
			padding: 0;
			margin: 0;
			
			li {
				background: #fff;
				border-top: $border-default;
				padding: 11px 20px 13px 20px;
				font-size: 14px;
				color: lighten($textcolor,25%);
			}
			
			li:hover {
				color: $primary;
			}
			
			li:last-child {
  			@include borderradius(5px 5px 0 0);
			}
		}
	}
	
	&.chosen-container-active.chosen-with-drop,
	&.chosen-container-active {
		
		a span {
  		color: $textcolor;
		}
	}
}

/* Header Styling */

header {
  background: white;
  border-bottom: 1px solid $bordercolor;
  padding: 10px 0;
  text-align: left;
  margin: 0 0 40px 0;

  .chosen-container {
  	width: 40% !important;

  	.chosen-single,
  	.chosen-single:hover,
  	.chosen-single:focus,
    .chosen-single:visited {
  		height: 30px;
  		margin-top: -5px;

  		span {
  			line-height: 30px;
  		}
  	}
	}
  
  .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-right: 25px;
    line-height: 30px;
    color: darken($textcolor,10%);
    background: url(../images/logo.png) no-repeat left center;
    background-size: auto 26px;
    padding-left: 40px;
  }
}

/* Main Section Styling */

section {
  
  .information {
    margin-bottom: 40px;
    
    h1 {
      
      .name {
        font-size: 16px;
        color: $primary;
        text-transform: uppercase;
        margin-left: 5px;
      }
    }
    
    .trends {
      margin-bottom: 20px;
      line-height: 15px;
      
      ul {
        
        li {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          line-height: 15px;
          color: lighten($textcolor,25%);
          margin-right: 20px;
          
          .graph.trend { 
            margin-right: 3px;
            
            img {
              height: 11px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

/* Aside Styling */

aside {
  
  .element {
    @extend %clearfix;
    
    .total-tweets {
      display: block;
      @include opacity(100);
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      text-align: center;
      color: lighten($textcolor,40%);
      font-weight: 600;
      width: 180px;
      height: 180px;
      margin: -127px 0 0 -90px;
      padding: 53px 0 0 0;
      @include borderradius(100px);
      @include transition(all 350ms ease);
  
      span {
        font-size: 40px;
        display: block;
        line-height: 53px;
        font-weight: 300;
        color: lighten($textcolor,0%);
        margin-bottom: 5px;
      }
    }
    
    #cumulativeBlue {
      width: 200px;
      height: 200px;
      margin: 40px auto;
    }
    
    ul {
      border-top: 1px solid $bordercolor;
      
      li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 100%;
        padding: 15px 5px;
        font-size: 11px;
        line-height: 12px;
        text-transform: uppercase;
        text-align: center;
        border-left: 1px solid $bordercolor;
        color: lighten($textcolor,40%);
        font-weight: 600;
        
        &:first-child { border-left: 0; }
        
        span {
          font-size: 24px;
          display: block;
          line-height: 30px;
          font-weight: 300;
          color: lighten($textcolor,0%);
        }
        
        &:after {
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          top: 3px;
          right: 3px;
          border-top: 10px solid $neutral;
          border-left: 10px solid transparent;
        }
      }

      &.stats {
        border-top: 0;
        
        li { 
          @include calc('width','50% - 2px');
        }
      }

      &.percentages {
        
        li { 
          @include calc('width','(100% / 3) - 3px');
          
          &.negative:after { border-top-color: $negative; }
          &.positive:after { border-top-color: $positive; }
        }
      }
    }
  }
}

#cumulativeBlue:hover + .total-tweets { 
  @include opacity(0);
}


/* Homepage */

.home {
  background: #f5f5f5 url(../images/bg.gif) no-repeat 0 0;
  background-size: 100% 100%; 

  .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 40px;
    
    .holder {
  		width: 100%;
  		text-align: center;
  
  		h1 {
  			font-size: 55px;
  			text-align: center;
  			padding: 70px 0 20px 0;
  			font-weight: 300;
  			color: darken($textcolor,10%);
        background: url(../images/logo.png) no-repeat center top;
        background-size: auto 55px;
  
  		}
  		
  		h2 {
    		margin-top: 20px;
        text-align: left;
  		}
  		
  		h2.subtitle {
  			font-size: 16px;
  			color: lighten($textcolor,20%);
  			padding: 0 0 10px 0;
  			margin-top: 0;
  			font-weight: 500;
  			text-transform: inherit;
  		}
  		
  		p {
        text-align: left;
      }
  		
  		.selection {
  			background: #fff;
  			border: $border-default;
  			padding: 20px;
  			margin: 0 0 15px 0;
        text-align: left;
  		}
  		
  		.trending {
    		display: inline-block;
    		@extend %clearfix;
    		width: auto;
    		margin: 0 auto;
    		
    		.trend {
      		float: none;
      		text-align: left;
      		margin: 20px 0;
      		height: auto;
      		width: 100%;
      		
      		h2 {
        		margin-top: 0;
      		}
      		
      		a {
        		color: lighten($textcolor,25%);
        		
        		&:hover {
          		color: $textcolor;
        		}
      		}
    		}
  		}
    }
  }
}

.controls {
	width: 100%;
	padding: 20px 0 0 0;
	text-align: center;
	
	button {
  	border: 0;
  	@include borderradius(3px);
		background: #ec13da;
		padding: 8px 20px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
	}
}

/* Radius Progress Chart */

.background {
  fill: #FFFFFF;
  fill-opacity: 1;
}

.component {
  fill: #e1e1e1;
}

.component .label {
  font-family: 'Raleway', Helvetica, Arial;
  text-anchor: middle;
  fill: #0a182d;
}

.radial_outline {
  text-shadow: $bordercolor 0px 0px 1px,   
  $bordercolor 0px 0px 1px,   
  $bordercolor 0px 0px 1px,
  $bordercolor 0px 0px 1px;
}


.arc0-blue { /* Negative */
  stroke-weight: 0.1;
  fill: $negative;
  @include transition(fill 350ms ease);
  
  &:hover { fill: darken($negative,10%); }
}

.arc1-blue { /* Neutral */
  stroke-weight: 0.1;
  fill: $neutral;
  @include transition(fill 350ms ease);
  
  &:hover { fill: darken($neutral,10%); }
}

.arc2-blue { /* Positive */
  stroke-weight:0.1;
  fill: $positive;
  @include transition(fill 350ms ease);
  
  &:hover { fill: darken($positive,10%); }
}

.arc3-blue {
  stroke-weight: 0.1;
  fill: #87CEEB;
}

.arc4-blue {
  stroke-weight:0.1;
  fill: #BFEFFF;
}

.white { fill: #FFFFFF; }

.label {
  font-family: 'Raleway', Helvetica, Arial;
  text-anchor: middle;
  fill: white;
  display: block;
  height: 200px !important;
  width: 200px !important;
  
  &.central {
    font-size: 40px !important;
    font-weight: 300;
    fill: $textcolor;
  }

  &.description {
    font-size: 12px !important;
    font-weight: 600;
    fill: lighten($textcolor,40%);
    margin-top: 5px;
    text-transform: uppercase;
  }
}

.radial-svg {
  display: block;
  margin: 0 auto;
}

/* Line Chart */

.line-chart {
  padding: 30px;
  width: 100%;
  height: 450px;
  @extend %clearfix;
  
  .flot-base {
    position: relative ;
    width: 100% ;
    height: auto;
  }
}

/* Media Queries */

@media (min-width: 568px) {
  
  aside {
    
    .group {
      float: left;
      @include calc('width','50% - 22px');
      
      &:first-child {
        margin-right: 40px;
      }
    }
  }

  .wrapper {
    
    .holder {
  		max-width: 600px;
  		margin: 0 auto;
      text-align: left;

    	.trending {
      	width: 100%;

    		.trend {
      		float: left;
      		height: 100%;
      		@include calc('width','100% / 3');
    		}
      }
    }
  }

}

@media (min-width: 1025px) {

  .wrapper {
    padding: 0;
    
    .holder {
      position: absolute;
  		top: 50%;
  		left: 50%;
      @include transform(translate(-50%, -50%));
      width: 600px;
    }
  }
  
  .container {
    max-width: 1200px;
  }
  
  section {
    float: left;
      @include calc('width','100% - 425px');
  }

  aside {
    float: left;
    width: 385px;
    margin-left: 40px;
    
    .group {
      float: none;
      width: 100%;
      
      &:first-child {
        margin-right: 0;
      }
    }
  }
}


