<div>
  <header>
    <div class="container">
      <a href="/" class="logo">Claire</a>
      <span class="search">
        <select data-placeholder="Please Select a Drug..." class="chosen-select" ng-model="drug.selected" ng-options="drug.brandName as drug.brandName for drug in drugList">
          <option><option>
        </select>
      </span>
    </div>
  </header>
  
  <div class="container content">
    <section>
      
      <div class="information">
        <h1>{{drug.brandName}} <span class="name">{{drug.genericName}}</span></h1>
        <div class="trends">
          <ul>
            <li><span class="graph trend"><img ng-src="{{trends.image}}" /></span> Social Trend</li>
        </div>
        <div class="overflow">
          <div class="description">
            <p>{{drug.description}}</p>
            <p>{{drug.pharmacodynamics}}</p>
          </div>
          <div class="show">Show More</div>
        </div>
        <div class="trend"></div>
      </div>
      
      <div class="graph">
        <h2>Tweets vs. Events &amp; Recalls <span><i><img src="../images/peak.png" alt="peak" width="14" height="14" /></i> Indicates addition data about this peak available</span></h2>
        <div class="box">
          <div line-chart chart-data="data" class="line-chart"></div>
          <div class="graph-legend">
            <ul>
              <li class="positive"><i></i> Positive Tweets</li>
              <li class="negative"><i></i> Negative Tweets</li>
              <li class="neutral"><i></i> Neutral Tweets</li>
              <li class="events"><i></i> Adverse Events</li>
              <li class="recalls"><i></i> Recalls</li>
            </ul>
          </div>
        </div>
      </div>
      
    </section>

    <aside>
      <div class="group">
        <div class="element tweets">
          <h2>Tweets</h2>
          <div class="box">
            <div class="graph donut">
              <div id="cumulativeBlue" pie-chart class="chart"></div>
              <div class="total-tweets"><span>{{twitterStats.totalTweets | number}}</span> Total Tweets</div>
            </div>
            <ul class="percentages">
              <li class="positive">
                <div id="positiveTweets" pie-chart-sml class="chart"></div>
                <div class="pie-center">{{twitterStats.percentPositive | number:1}}%</div>
                <strong>{{ (twitterStats.totalTweets * (twitterStats.percentPositive / 100)) | number: 0}}</strong> Positive
              </li>
              <li class="neutral">
                <div id="neutralTweets" pie-chart-sml class="chart"></div>
                <div class="pie-center">{{twitterStats.percentUnknown | number:1}}%</div>
                <strong>{{ (twitterStats.totalTweets * (twitterStats.percentUnknown / 100)) | number: 0}}</strong> Neutral
              </li>
              <li class="negative">
                <div id="negativeTweets" pie-chart-sml class="chart"></div>
                <div class="pie-center">{{twitterStats.percentNegative | number:1}}%</div>
                <strong>{{ (twitterStats.totalTweets * (twitterStats.percentNegative / 100)) | number: 0}}</strong> Negative
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="element stats">
          <h2>Stats</h2>
          <div class="box">
            <ul class="stats">
              <li class="events"><span>{{fdaStats.totalAdverseEvents | number}}</span> Total Adverse Events</li>
              <li class="recalls"><span>{{fdaStats.totalRecalls | number}}</span> Total Recalls</li>
            </ul>
          </div>
        </div>
        <div class="element ranking">
          <h2>Ranking <span>Out of {{drugList.length}} Drugs</span></h2>
          <div class="box">
            <ul class="ranking-top">
              <li class="positive"><span data-text="{{drugRankings.positiveTweetsRank}}-rank">{{drugRankings.positiveTweetsRank}}</span> Positive Tweets</li>
              <li class="neutral"><span data-text="{{drugRankings.unknownTweetsRank}}-rank">{{drugRankings.unknownTweetsRank}}</span> Neutral Tweets</li>
              <li class="negative"><span data-text="{{drugRankings.negativeTweetsRank}}-rank">{{drugRankings.negativeTweetsRank}}</span> Negative Tweets</li>
            </ul>
            <ul class="ranking-btm">
              <li class="events"><span data-text="{{drugRankings.adverseEventsRank}}-rank">{{drugRankings.adverseEventsRank}}</span> Adverse Events</li>
              <li class="recalls"><span data-text="{{drugRankings.recallsRank}}-rank">{{drugRankings.recallsRank}}</span> Recalls</li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </div>
  <div class="container footer">
    <footer>
      <p>Powered by 42six a CSC Company. <a href="https://github.com/42sixsolutions/claire" target="_blank">Claire on Github</a></p>
    </footer>
  </div>
</div>
