<div>
  <header>
    <div class="container">
      <a href="/claire/" class="logo">Claire</a>
      <span class="search">
        <select data-placeholder="Please Select a Drug..." class="chosen-select" ng-model="drug.selected">
          <option value=""></option>
          <option ng-repeat="drug in drugList">{{drug}}</option>
				</select>
      </span>
    </div>
  </header>
  
  <div class="container">
    
    <section>
      
      <div class="information">
        <h1>{{drug.brandName}} <span class="name">{{drug.genericName}}</span></h1>
        <div class="trends">
          <ul>
            <li><span class="graph trend"><img src="images/trend-up.png" /></span> Overall Trend</li>
            <li><span class="graph trend"><img src="images/trend-down.png" /></span> Recent Trend</li>
        </div>
        <div class="description">
          <p>{{drug.details}}</p>
          <p>{{drug.additionalDetails}}</p>
        </div>
        <div class="trend"></div>
      </div>
      
      <div class="graph">
        <div class="box">
          <div line-chart chart-data="data" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
      
    </section>

    <aside>
      <div class="group">
        <div class="element tweets">
          <h2>Tweets</h2>
          <div class="box">
            <div class="graph donut">
              <div id="cumulativeBlue" pie-chart class="chart" style="margin-top:40px;"></div>
            </div>
            <ul class="percentages">
              <li class="positive"><span>{{twitterStats.percentPositive}}%</span> Positive</li>
              <li class="neutral"><span>{{twitterStats.percentUnknown}}%</span> Neutral</li>
              <li class="negative"><span>{{twitterStats.percentNegative}}%</span> Negative</li>
            </ul>
          </div>
        </div>
        <div class="element stats">
          <h2>Stats</h2>
          <div class="box">
            <ul class="stats">
              <li><span>{{fdaStats.totalRecalls}}</span> Total Recalls</li>
              <li><span>{{fdaStats.totalAdverseEvents}}</span> Total Adverse Effects</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="element ranking">
          <h2>Ranking</h2>
          <div class="box">
            <div class="graph ranking">
              <img src="http://placehold.it/385x400/FFFFFF.png" width="100%" >
            </div>
          </div>
        </div>
      </div>
    </aside>
    
    <footer>
      
    </footer>
    
  </div>
</div>