<div>
  <header>
    <div class="container">
      <a href="/" class="logo">Claire</a>
      <span class="search">
        <select data-placeholder="Please Select a Drug..." class="chosen-select" ng-model="drug.selected" ng-options="drug.brandName as drug.brandName for drug in drugList | orderBy:brandName"></select>
      </span>
    </div>
  </header>
  
  <div class="container content">
    <section>
      
      <div class="information">
        <h1>{{drug.brandName}} <span class="name">{{drug.genericName}}</span></h1>
        <div class="trends">
          <ul>
            <li><span class="graph trend"><img src="images/trend-up.png" /></span> Overall Trend</li>
            <li><span class="graph trend"><img src="images/trend-down.png" /></span> Recent Trend</li>
        </div>
        <div class="description">
          <p>{{drug.description}}</p>
          <p>{{drug.pharmacodynamics}}</p>
        </div>
        <div class="trend"></div>
      </div>
      
      <div class="graph">
        <h2>Tweets <span>vs.</span> Events &amp; Recalls</h2>
        <div class="box">
          <div line-chart chart-data="data" class="line-chart"></div>
          <div class="graph-legend">
            <ul>
              <li class="positive">Positive Tweets</li>
              <li class="negative">Negative Tweets</li>
              <li class="neutral">Neutral Tweets</li>
              <li class="events">Adverse Effects</li>
              <li class="recalls">Recalls</li>
          </div>
        </div>
      </div>
      
    </section>

    <aside>
      <div class="group">
        <div class="element tweets">
          <h2>Tweets</h2>
          <div class="box">
            <div class="graph donut">
              <div id="cumulativeBlue" pie-chart class="chart"></div>
              <div class="total-tweets"><span>{{twitterStats.totalTweets}}</span> Total Tweets</div>
            </div>
            <ul class="percentages">
              <li class="positive">
                <div id="positiveTweets" pie-chart-sml class="chart"></div>
                <span>{{twitterStats.percentPositive}}%</span> Positive
              </li>
              <li class="neutral">
                <div id="neutralTweets" pie-chart-sml class="chart"></div>
                <span>{{twitterStats.percentUnknown}}%</span> Neutral
              </li>
              <li class="negative">
                <div id="negativeTweets" pie-chart-sml class="chart"></div>
                <span>{{twitterStats.percentNegative}}%</span> Negative
              </li>
            </ul>
          </div>
        </div>
        <div class="element stats">
          <h2>Stats</h2>
          <div class="box">
            <ul class="stats">
              <li><span>{{fdaStats.totalRecalls}}</span> Total Recalls</li>
              <li><span>{{fdaStats.totalAdverseEvents}}</span> Total Adverse Effects</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="element ranking">
          <h2>Ranking</h2>
          <div class="box">
            <ul class="ranking-top">
              <li class="positive"><span>{{drugRankings.positiveTweetsRank}}</span> Positive Tweets</li>
              <li class="neutral"><span>{{drugRankings.unknownTweetsRank}}</span> Neutral Tweets</li>
              <li class="negative"><span>{{drugRankings.negativeTweetsRank}}</span> Negative Tweets</li>
            </ul>
            <ul class="ranking-btm">
              <li class="events"><span>{{drugRankings.adverseEventsRank}}</span> Adverse Events</li>
              <li class="recalls"><span>{{drugRankings.recallsRank}}</span> Recalls</li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
    
    <footer>
      
    </footer>
  </div>
</div>

<script>
  
</script>
