<div class="holder">
	<h1>Claire</h1>
	<h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
	<p>Curabitur sem nibh, auctor a sagittis nec, elementum ac sapien. Cras tellus ex, rutrum ac lacus vitae, dictum tempor nisi. Morbi ac mauris odio. Nulla cursus maximus nisi sit amet dapibus. Donec consectetur feugiat nisl, tincidunt accumsan leo vulputate semper.</p>
	
	<h2>Drug Selection</h2>
	<div class="selection">
		<select data-placeholder="Please Select a Drug..." class="chosen-select" ng-model="drug.selected">
            <option value=""></option>
            <option ng-repeat="drug in drugList">{{drug}}</option>
		</select>
		<div class="controls">
			<button type="button" name="search" ng-click="onSearch(drug.selected)">Search</button>
		</div>
	</div>
	
	<div class="trending">
		<div class="trend">
			<h2>Positive Trending</h2>
			<ul>
                <li ng-repeat="drug in trends.topPositive"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
			</ul>
		</div>
		<div class="trend">
			<h2>Negative Trending</h2>
			<ul>
                <li ng-repeat="drug in trends.topNegative"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
			</ul>
		</div>
		<div class="trend">
			<h2>Adverse Event Trending</h2>
			<ul>
                <li ng-repeat="drug in trends.mostAdverseEvents"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
			</ul>
		</div>
	</div>
</div>
