<div class="bg-gradient">
	<div class="holder selection">
		
		<div class="brand clearfix">
			<img src="images/logo.png" />
			<h1>Claire</h1>
		</div>
		
		<div class="info">
			<h2>Correlating Adverse Drug Interactions Against Social Media Sentiment.</h2>
			<p>In sodales, elit vitae efficitur suscipit, elit nulla consequat velit, sit amet pulvinar est neque at felis. Morbi a dolor lacinia turpis placerat egestas.</p>
		</div>
		
		<div class="selection">
      <select data-placeholder="Please Select a Drug..." class="chosen-select" ng-model="drug.selected" ng-options="drug.brandName as drug.brandName for drug in drugList"></select>
			<div class="controls">
				<button type="button" name="search" ng-click="onSearch(drug.selected)">Search</button>
			</div>
		</div>
		
		<div class="trending clearfix">
			<div class="trend">
				<h2>Positive Trending</h2>
				<ul>
					<li ng-repeat="drug in trends.topPositive"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
				</ul>
			</div>
			<div class="trend">
				<h2>Negative Trending</h2>
				<ul>
	      	<li ng-repeat="drug in trends.topNegative"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
				</ul>
			</div>
			<div class="trend">
				<h2>Adverse Event Trending</h2>
				<ul>
	        <li ng-repeat="drug in trends.mostAdverseEvents"><a href="#/detail/{{drug.brandName}}">{{drug.brandName}}</a></li>
				</ul>
			</div>
		</div>
		
	</div>
</div>
